section{ color: lavenderblush;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: peachpuff;height: 600px;width: 400px;
 }
 h1{
     background-color: rgb(243, 213, 141);
 }